## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [1]:
!pip install dask[complete] --quiet
!pip install aiohttp --quiet

     |████████████████████████████████| 675kB 13.6MB/s
     |████████████████████████████████| 102kB 7.5MB/s
     |████████████████████████████████| 102kB 6.7MB/s
  Building wheel for contextvars (setup.py) ... done
  Building wheel for locket (setup.py) ... done
ERROR: distributed 2020.12.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
ERROR: distributed 2020.12.0 has requirement dask>=2020.12.0, but you'll have dask 2.12.0 which is incompatible.
     |████████████████████████████████| 1.3MB 11.6MB/s
     |████████████████████████████████| 296kB 58.3MB/s
     |████████████████████████████████| 143kB 48.8MB/s
  Building wheel for idna-ssl (setup.py) ... done

In [2]:
import dask.dataframe as dd
import numpy as np

In [3]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [12]:
census.compute()

       CensusTract        State  ... FamilyWork  Unemployment
0       1001020100      Alabama  ...        0.0           5.4
1       1001020200      Alabama  ...        0.0          13.3
2       1001020300      Alabama  ...        0.0           6.2
3       1001020400      Alabama  ...        0.0          10.8
4       1001020500      Alabama  ...        0.0           4.2
...            ...          ...  ...        ...           ...
73996  72153750501  Puerto Rico  ...        0.0          21.3
73997  72153750502  Puerto Rico  ...        0.0          22.4
73998  72153750503  Puerto Rico  ...        0.0          23.3
73999  72153750601  Puerto Rico  ...        0.0          26.7
74000  72153750602  Puerto Rico  ...        0.0          20.1

[74001 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [11]:
#Answer below:
census

Dask DataFrame Structure:
              CensusTract   State  County TotalPop    Men  Women Hispanic    White    Black   Native    Asian  Pacific Citizen   Income IncomeErr IncomePerCap IncomePerCapErr  Poverty ChildPoverty Professional  Service   Office Construction Production    Drive  Carpool  Transit     Walk OtherTransp WorkAtHome MeanCommute Employed PrivateWork PublicWork SelfEmployed FamilyWork Unemployment
npartitions=1
                    int64  object  object    int64  int64  int64  float64  float64  float64  float64  float64  float64   int64  float64   float64      float64         float64  float64      float64      float64  float64  float64      float64    float64  float64  float64  float64  float64     float64    float64     float64    int64     float64    float64      float64    float64      float64
                      ...     ...     ...      ...    ...    ...      ...      ...      ...      ...      ...      ...     ...      ...       ...          ...             ...      ...          ...          ...      ...      ...          ...        ...      ...      ...      ...      ...         ...        ...         ...      ...         ...        ...          ...        ...          ...
Dask Name: from-delayed, 3 tasks

How many counties have a unemployement rate above 10%?

In [18]:
#Answer below:
len(census[census['Unemployment'] > 10].County.unique().compute())

1423

Print the number of counties in each state.

In [35]:
# Answer below:
census.groupby('State')['County'].nunique().compute()

State
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Puerto Rico              78
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [43]:
# Answer below:
census['HighChildPov'] = census['ChildPoverty'].map(lambda x: 1 if x>20 else 0)
census['HighChildPov'].compute()

0        0
1        1
2        0
3        0
4        0
        ..
73996    1
73997    1
73998    1
73999    1
74000    1
Name: HighChildPov, Length: 74001, dtype: int64

What are the top 10 most populated counties?

In [50]:
#answer below:
population = census.groupby('County').sum()['TotalPop'].compute()
population.sort_values(ascending=False).head(10)

County
Los Angeles    10038388
Cook            5258620
Orange          5025603
Harris          4389138
Maricopa        4018143
Montgomery      3635047
Jefferson       3623682
San Diego       3223096
Clark           2852761
Kings           2746257
Name: TotalPop, dtype: int64

What is the current number of partitions?

In [51]:
#Answer below:
census.npartitions

1