## Day 49 Lecture 2 Assignment

In this assignment, we will apply mean shift clustering to a dataset containing the results of a survey on financial wellbeing.

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift
from sklearn.preprocessing import StandardScaler

This dataset contains the results of a survey on a financial wellbeing conducted by the US Consumer Finance Protection Bureau that were published in October 2017. This dataset has a large number of columns, most of which correspond to specific questions on the survey. These codebook for translating the column names to questions can be found here:

https://s3.amazonaws.com/files.consumerfinance.gov/f/documents/cfpb_nfwbs-puf-codebook.pdf

Load the dataset.

In [ ]:
# answer goes here
url = 'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/financial_wellbeing.csv'
df = pd.read_csv(url)
df.head()

   PUF_ID  sample  fpl  SWB_1  ...  PPT1317  PPT18OV  PCTLT200FPL   finalwt
0   10350       2    3      5  ...        0        1            0  0.367292
1    7740       1    3      6  ...        0        2            0  1.327561
2   13699       1    3      4  ...        1        2            1  0.835156
3    7267       1    3      6  ...        0        1            0  1.410871
4    7375       1    3      4  ...        0        4            1  4.260668

[5 rows x 217 columns]

While the survey questions have the potential for interesting cluster analysis, we will stick to the "score" columns to avoid clustering in an unreasonably high-dimensional space. The columns we are interested in all have "score" in their names; identify and isolate these columns. (There should be 4 in total.)

In [ ]:
# answer goes here
X = df.filter(like="score")

X.head()

   FWBscore  FSscore  LMscore  KHscore
0        55       44        3    1.267
1        51       43        3   -0.570
2        49       42        3   -0.188
3        49       42        2   -1.485
4        49       42        1   -1.900

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [ ]:
# answer goes here
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

Run mean shift clustering on the scores in the survey dataset using the default bandwidth. Then answer the following by printing or typing as appropriate:

- How many clusters are produced? 
- What are the cluster centers?
- How many responses are assigned to each cluster?
- Are these results reasonable? If not, what changes should we make?

In [ ]:
# answer goes here
ms = MeanShift(bandwidth=None)
X['ms_clus'] = ms.fit_predict(X_scaled)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X['ms_clus'].value_counts()
#How many clusters are produced? 2

0    6326
1      68
Name: ms_clus, dtype: int64

Try changing the appropriate parameters of the mean shift algorithm to achieve a better clustering result. Answer all of the same questions from the previous clustering step.

In [ ]:
# answer goes here
ms = MeanShift(bandwidth=1.3)
X['ms_clus'] = ms.fit_predict(X_scaled)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X['ms_clus'].value_counts()

0     3436
1     1665
2      481
7      317
4      166
3       96
6       46
16      39
20      27
17      22
5       17
14      17
18      16
11      16
15      11
8        6
19       6
13       5
9        3
10       1
12       1
Name: ms_clus, dtype: int64