## Day 49 Lecture 2 Assignment

In this assignment, we will apply mean shift clustering to a dataset containing the results of a survey on financial wellbeing.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift
from sklearn.preprocessing import StandardScaler

This dataset contains the results of a survey on a financial wellbeing conducted by the US Consumer Finance Protection Bureau that were published in October 2017. This dataset has a large number of columns, most of which correspond to specific questions on the survey. These codebook for translating the column names to questions can be found here:

https://s3.amazonaws.com/files.consumerfinance.gov/f/documents/cfpb_nfwbs-puf-codebook.pdf

Load the dataset.

In [2]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/financial_wellbeing.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Columns: 217 entries, PUF_ID to finalwt
dtypes: float64(2), int64(215)
memory usage: 10.6 MB

   PUF_ID  sample  fpl  SWB_1  ...  PPT1317  PPT18OV  PCTLT200FPL   finalwt
0   10350       2    3      5  ...        0        1            0  0.367292
1    7740       1    3      6  ...        0        2            0  1.327561
2   13699       1    3      4  ...        1        2            1  0.835156
3    7267       1    3      6  ...        0        1            0  1.410871
4    7375       1    3      4  ...        0        4            1  4.260668

[5 rows x 217 columns]

While the survey questions have the potential for interesting cluster analysis, we will stick to the "score" columns to avoid clustering in an unreasonably high-dimensional space. The columns we are interested in all have "score" in their names; identify and isolate these columns. (There should be 4 in total.)

In [3]:
# answer goes here
X = df.filter(like='score', axis=1)

X.head()

   FWBscore  FSscore  LMscore  KHscore
0        55       44        3    1.267
1        51       43        3   -0.570
2        49       42        3   -0.188
3        49       42        2   -1.485
4        49       42        1   -1.900

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [7]:
# answer goes here
scale = StandardScaler()
X_scale = pd.DataFrame(scale.fit_transform(X), columns=X.columns)
X_scale.head()

   FWBscore   FSscore   LMscore   KHscore
0 -0.073062 -0.530906  0.653830  1.624716
1 -0.355677 -0.609920  0.653830 -0.629626
2 -0.496984 -0.688935  0.653830 -0.160841
3 -0.496984 -0.688935 -0.670399 -1.752502
4 -0.496984 -0.688935 -1.994628 -2.261785

Run mean shift clustering on the scores in the survey dataset using the default bandwidth. Then answer the following by printing or typing as appropriate:

- How many clusters are produced? 
- What are the cluster centers?
- How many responses are assigned to each cluster?
- Are these results reasonable? If not, what changes should we make?

In [8]:
# answer goes here
ms = MeanShift()

df["cluster"] = ms.fit_predict(X_scale)

In [9]:
print("How many clusters are there: ", len(df.cluster.value_counts()))

How many clusters are there:  2

In [13]:
print("How many responses are assigned to each cluster?")
df.cluster.value_counts()

How many responses are assigned to each cluster?

0    6326
1      68
Name: cluster, dtype: int64

In [15]:
centers = pd.DataFrame(ms.cluster_centers_,columns=X.columns)
centers_inverse = pd.DataFrame(scale.inverse_transform(centers), columns=X.columns)
print("Cluster Centers:")
centers_inverse.style.background_gradient()

Cluster Centers:

Try changing the appropriate parameters of the mean shift algorithm to achieve a better clustering result. Answer all of the same questions from the previous clustering step.

In [57]:
# answer goes here
ms = MeanShift(bandwidth=1.4)

df["clusters_optimal"] = ms.fit_predict(X_scale)

In [58]:
print("How many clusters are there: ", len(df.clusters_optimal.value_counts()))

How many clusters are there:  12

In [59]:
print("How many responses are assigned to each cluster?")
df.clusters_optimal.value_counts()

How many responses are assigned to each cluster?

0     3988
1     2100
10      91
5       51
9       43
11      41
8       21
6       19
4       19
2       12
3        8
7        1
Name: clusters_optimal, dtype: int64

In [60]:
centers = pd.DataFrame(ms.cluster_centers_,columns=X.columns)
centers_inverse = pd.DataFrame(scale.inverse_transform(centers), columns=X.columns)
print("Optimal Cluster Centers:")
centers_inverse.style.background_gradient()

Optimal Cluster Centers:

I tried a range of bandwiths from 0-10. It was very difficult to find the sweet spot for the bandwith. Some bandwith between 1.2-1.4 seems best, but the dataset has 2 really dense groups. So other bandwiths seems to group it around 0-2 groups or with dozens of groups. It was difficult to find a suitable bandwith.