## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [2]:
# answer goes here
student_df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')

In [3]:
student_df.head()

,Q2-Participated in Societies and Interest Groups,Q2-Participated in Clubs,"Q2-Participated in Halls, JCRCs and/or Residential College CSCs",Q2-Participated in University organised events,Q3-Interested in Arts & Culture,Q3-Interested in Science & Technology,Q3-Interested in Research and independent study,Q3-Interested in Sports,"Q3-Interested in Other competitions (eg case, debates)",Q3-Interested in Entrepreneurship,...,Q5-Stressed about Academic issues,Q5-Stressed about Financial issues,Q5-Stressed about Family issues,Q5-Stressed about Friendships,Q5-Stressed about Romantic relationships,Q5-Stressed about Health related issues,Q5-Stressed about Career related issues,"Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.",Q5-Stressed about Others,response_id
0,0,1,0,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,2
2,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,3
3,1,1,1,1,0,1,1,0,0,0,...,1,0,1,1,1,1,0,1,0,4
4,1,0,1,1,0,1,1,0,0,1,...,1,1,0,1,0,0,0,1,0,5

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [4]:
# answer goes here
student_df_q5 = student_df.filter(like='Q5', axis=1).copy()
student_df_q5

,Q5-Stressed about Adjustment issues,Q5-Stressed about Academic issues,Q5-Stressed about Financial issues,Q5-Stressed about Family issues,Q5-Stressed about Friendships,Q5-Stressed about Romantic relationships,Q5-Stressed about Health related issues,Q5-Stressed about Career related issues,"Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.",Q5-Stressed about Others
0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0
3,1,1,0,1,1,1,1,0,1,0
4,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2953,0,1,1,0,0,1,0,0,0,0
2954,0,1,0,0,0,0,0,0,0,0
2955,0,1,0,0,0,0,0,0,0,0
2956,0,1,0,0,0,0,1,1,0,0
2957,0,1,1,0,0,0,0,1,0,0

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [5]:
# answer goes here
dists = pdist(student_df_q5, metric='hamming')
df = pd.DataFrame(squareform(dists))
df

,0,1,2,3,4,5,6,7,8,9,...,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957
0,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
1,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2,0.1,0.1,0.0,0.7,0.4,0.2,0.1,0.2,0.5,0.3,...,0.2,0.4,0.3,0.4,0.4,0.3,0.1,0.1,0.1,0.1
3,0.6,0.6,0.7,0.0,0.5,0.5,0.8,0.7,0.2,0.6,...,0.7,0.5,0.4,0.5,0.3,0.6,0.6,0.6,0.6,0.8
4,0.3,0.3,0.4,0.5,0.0,0.2,0.3,0.6,0.3,0.3,...,0.2,0.2,0.3,0.4,0.2,0.3,0.3,0.3,0.5,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,0.2,0.2,0.3,0.6,0.3,0.3,0.2,0.5,0.4,0.4,...,0.1,0.1,0.4,0.3,0.5,0.0,0.2,0.2,0.4,0.2
2954,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2955,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2956,0.2,0.2,0.1,0.6,0.5,0.3,0.2,0.3,0.6,0.4,...,0.3,0.5,0.4,0.5,0.5,0.4,0.2,0.2,0.0,0.2
2957,0.2,0.2,0.1,0.8,0.3,0.3,0.0,0.3,0.6,0.2,...,0.1,0.3,0.4,0.3,0.5,0.2,0.2,0.2,0.2,0.0

In [6]:
df['id'] = df.index

df2 = pd.melt(df, id_vars='id', value_vars=df.columns[df.columns != 'id'])
df2

           id variable  value
0           0        0    0.0
1           1        0    0.0
2           2        0    0.1
3           3        0    0.6
4           4        0    0.3
...       ...      ...    ...
8749759  2953     2957    0.2
8749760  2954     2957    0.2
8749761  2955     2957    0.2
8749762  2956     2957    0.2
8749763  2957     2957    0.0

[8749764 rows x 3 columns]

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [7]:
# answer goes here
# 1.
df2.columns = ['response_id_1', 'response_id_2', 'dissimilarity'] 
df3 = df2[df2.response_id_1 < df2.response_id_2]
df3.shape[0]

4373403

In [8]:
# 2.
df3.loc[df3.dissimilarity == 0].shape[0]

136732

In [9]:

# 3.
df3.loc[df3.dissimilarity == 1].shape[0]

291

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [10]:
# answer goes here
# 1.
avg_dissimilarity = df3.groupby(by=['response_id_1']).mean()
student_min_id = avg_dissimilarity.idxmin()[0]
print(f"Student id: {student_min_id}\n"
      f"Average similarity: {1 - avg_dissimilarity.min()[0]}\n"
      f"Answers:\n\n{student_df_q5.iloc[student_min_id]}"
     )

Student id: 2954
Average similarity: 0.8666666666666667
Answers:

Q5-Stressed about Adjustment issues                                                    0
Q5-Stressed about Academic issues                                                      1
Q5-Stressed about Financial issues                                                     0
Q5-Stressed about Family issues                                                        0
Q5-Stressed about Friendships                                                          0
Q5-Stressed about Romantic relationships                                               0
Q5-Stressed about  Health related issues                                               0
Q5-Stressed about Career related issues                                                0
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.    0
Q5-Stressed about Others                                                               0
Name: 2954, dtype: int64

In [11]:
# 2.
student_max_id = avg_dissimilarity.idxmax()[0]
print(f"Student id: {student_max_id}\n"
      f"Average similarity: {1 - avg_dissimilarity.max()[0]}\n"
      f"Answers:\n\n{student_df_q5.iloc[student_max_id]}"
     )

Student id: 2899
Average similarity: 0.34310344827586214
Answers:

Q5-Stressed about Adjustment issues                                                    1
Q5-Stressed about Academic issues                                                      1
Q5-Stressed about Financial issues                                                     1
Q5-Stressed about Family issues                                                        1
Q5-Stressed about Friendships                                                          1
Q5-Stressed about Romantic relationships                                               0
Q5-Stressed about  Health related issues                                               1
Q5-Stressed about Career related issues                                                1
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.    1
Q5-Stressed about Others                                                               1
Name: 2899, dtype: int64

In [12]:
# 3.
# The average sudent is likely to be stressed about Academic issues, 
# with both the most similar and least similar students including it in their response.