## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [1]:
!pip install haversine

Requirement already satisfied: haversine in /usr/local/lib/python3.6/dist-packages (2.3.0)

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [3]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [4]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv')
df.head()

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42
2  Starbucks  47089-256771  ...     55.47    25.39
3  Starbucks  22126-218024  ...     54.38    24.48
4  Starbucks  17127-178586  ...     54.54    24.51

[5 rows x 13 columns]

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [5]:
# answer goes here
df_hawaii = df[df['State/Province'] == 'HI']
df_hawaii.shape

(99, 13)

In [6]:
df_hawaii

           Brand  Store Number  ... Longitude Latitude
17202  Starbucks   21034-73360  ...   -157.93    21.38
17203  Starbucks   21053-99755  ...   -157.93    21.37
17204  Starbucks   21006-10033  ...   -157.94    21.38
17205  Starbucks   21005-10034  ...   -157.94    21.39
17206  Starbucks  21063-101700  ...   -157.95    21.39
...          ...           ...  ...       ...      ...
17296  Starbucks  70063-139304  ...   -156.44    20.69
17297  Starbucks  19214-196545  ...   -156.49    20.89
17298  Starbucks   21044-88761  ...   -158.01    21.40
17299  Starbucks   21061-99913  ...   -158.00    21.43
17300  Starbucks   21051-96335  ...   -158.03    21.39

[99 rows x 13 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
39.14, -121.64  
34.13, -116.40  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
39.14, -121.64,   (39.14, -121.64)  
34.13, -116.40,   (34.13, -116.40)  
...

In [7]:
df_hawaii.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude         float64
Latitude          float64
dtype: object

In [8]:
# answer goes here

df_hawaii['Coordinates'] = list(zip(df_hawaii.loc[:, 'Latitude'], df_hawaii.loc[:, 'Longitude']))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df_hawaii.head()

           Brand  Store Number  ... Latitude       Coordinates
17202  Starbucks   21034-73360  ...    21.38  (21.38, -157.93)
17203  Starbucks   21053-99755  ...    21.37  (21.37, -157.93)
17204  Starbucks   21006-10033  ...    21.38  (21.38, -157.94)
17205  Starbucks   21005-10034  ...    21.39  (21.39, -157.94)
17206  Starbucks  21063-101700  ...    21.39  (21.39, -157.95)

[5 rows x 14 columns]

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [10]:
# answer goes here

matrix = geo_sim_matrix(df_hawaii)
matrix

index       17202       17203       17204  ...       17298       17299       17300
index                                      ...
17202    0.000000    0.690934    0.643386  ...    5.329021    5.675488    6.470637
17203    0.690934    0.000000    0.944121  ...    5.548625    6.120771    6.580589
17204    0.643386    0.944121    0.000000  ...    4.710641    5.179933    5.831356
17205    0.944091    1.524305    0.690934  ...    4.555939    4.747018    5.790081
17206    1.460500    1.888212    0.944091  ...    3.921273    4.240594    5.146738
...           ...         ...         ...  ...         ...         ...         ...
17296  107.264542  106.962166  107.842613  ...  112.498970  112.833847  113.367599
17297   98.783943   98.552231   99.389603  ...  104.095673  104.204285  105.083298
17298    5.329021    5.548625    4.710641  ...    0.000000    2.170313    1.460423
17299    5.675488    6.120771    5.179933  ...    2.170313    0.000000    3.370790
17300    6.470637    6.580589    5.831356  ...    1.460423    3.370790    0.000000

[99 rows x 99 columns]

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [11]:
# answer goes here
df_nearest = pd.DataFrame(df_hawaii['Coordinates'])
df_nearest

            Coordinates
17202  (21.38, -157.93)
17203  (21.37, -157.93)
17204  (21.38, -157.94)
17205  (21.39, -157.94)
17206  (21.39, -157.95)
...                 ...
17296  (20.69, -156.44)
17297  (20.89, -156.49)
17298   (21.4, -158.01)
17299   (21.43, -158.0)
17300  (21.39, -158.03)

[99 rows x 1 columns]

In [12]:
df_nearest['Distance'] = matrix[matrix != 0].min(axis=1)

In [13]:
df_nearest['Location'] = df_hawaii['Store Name']

In [14]:
df_nearest

            Coordinates  Distance                             Location
17202  (21.38, -157.93)  0.643386                 Aiea Shopping Center
17203  (21.37, -157.93)  0.690934                  Stadium Marketplace
17204  (21.38, -157.94)  0.643386    Kaonohi St & Kam Hwy - Pearlridge
17205  (21.39, -157.94)  0.643342               Pearlridge Mall Uptown
17206  (21.39, -157.95)  0.643342              Waimalu Shopping Center
...                 ...       ...                                  ...
17296  (20.69, -156.44)  2.838297  Wailea Beach Resort - Marriott Maui
17297  (20.89, -156.49)  1.291034               Safeway - Wailuku 3092
17298   (21.4, -158.01)  1.460423              Waikele Premium Outlets
17299   (21.43, -158.0)  1.524194        Laniakea Plaza at Ka Uka Blvd
17300  (21.39, -158.03)  1.460423                Kunia Shopping Center

[99 rows x 3 columns]

In [19]:
nn = {}
for i in matrix.index:
  distances = matrix[i][matrix.index != i]
  nn[i, distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn

                 0         1
0   (17202, 17204)  0.643386
1   (17203, 17202)  0.690934
2   (17204, 17202)  0.643386
3   (17205, 17206)  0.643342
4   (17206, 17205)  0.643342
..             ...       ...
94  (17296, 17277)  2.838297
95  (17297, 17255)  1.291034
96  (17298, 17300)  1.460423
97  (17299, 17288)  1.524194
98  (17300, 17298)  1.460423

[99 rows x 2 columns]

In [20]:
nn['Location'] = nn[0].apply(lambda x: x[0])
nn['Nearest Neighbor'] = nn[0].apply(lambda x: x[1])
nn['Distance Miles'] = nn[1]
nn

                 0         1  Location  Nearest Neighbor  Distance Miles
0   (17202, 17204)  0.643386     17202             17204        0.643386
1   (17203, 17202)  0.690934     17203             17202        0.690934
2   (17204, 17202)  0.643386     17204             17202        0.643386
3   (17205, 17206)  0.643342     17205             17206        0.643342
4   (17206, 17205)  0.643342     17206             17205        0.643342
..             ...       ...       ...               ...             ...
94  (17296, 17277)  2.838297     17296             17277        2.838297
95  (17297, 17255)  1.291034     17297             17255        1.291034
96  (17298, 17300)  1.460423     17298             17300        1.460423
97  (17299, 17288)  1.524194     17299             17288        1.524194
98  (17300, 17298)  1.460423     17300             17298        1.460423

[99 rows x 5 columns]

In [21]:
nn = nn.drop(columns=[0,1])
nn.head()

   Location  Nearest Neighbor  Distance Miles
0     17202             17204        0.643386
1     17203             17202        0.690934
2     17204             17202        0.643386
3     17205             17206        0.643342
4     17206             17205        0.643342

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [16]:
df_nearest.sort_values(by='Distance', ascending=False).head()

            Coordinates   Distance                       Location
17295  (19.91, -155.88)  15.612447             Queens Marketplace
17267  (20.02, -155.67)  15.612447            Parker Ranch Center
17278  (21.88, -159.46)   8.059888         Poipu Shopping Village
17291  (20.84, -156.34)   7.322419        Pukalani Terrace Center
17294  (21.44, -158.18)   6.739833  Waianae Mall - Farrington Hwy

The five Starbucks that have a neighbor that is far away are in the cell above where 'Distance' is the distance in miles of the nearest neighbor